<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :status, 'ステータス' %>
  <%= f.text_field :status, class: "form-control"  %>
   <body>
    <div class="row">
      <div class="col-xs-12"></div>
      <div class="col-sm-offset-2 col-sm-8"></div>
      <div class="col-md-offset-2 col-sm-8"></div>
      <div class="col-lg-offset-3 col-sm-6"></div>
    </div>
   </body>

  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content, class: "form-control" %>
  <body>
    <div class="row">
      <div class="col-xs-12"></div>
      <div class="col-sm-offset-2 col-sm-8"></div>
      <div class="col-md-offset-2 col-sm-8"></div>
      <div class="col-lg-offset-3 col-sm-6"></div>
    </div>
   </body>

  <%= f.submit '投稿' %>

  
<% end %>

