<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
  
   <!-- メニュー項目 -->
   <div id="navbar" class="table table-striped">
    <ul class="nav navbar-nav">
    <li class="active"><a href="#"><%= link_to '新規タスクの投稿', new_task_path %></a></li>
    </ul>
   </div>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<h1>タスク一覧</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id : ステータス : タスク</th>
        
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
           <td><%= link_to task.id, task%> : <%= task.content %> : <%=task.status %> > <%= task.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
  </div>
<% end %>



