<h1>id = <%= @lisk.id %>のタスク詳細ページ</h1>

<p><%= @lisk.content %></p>

<%= link_to '一覧に戻る', lisks_path %>
<%= link_to 'このタスクを編集する', edit_lisk_path(@lisk) %>
<%= link_to 'このタスクを削除する', @lisk, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>